.section-container {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 120px;

  & .background {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
  }

  & .section-text {
    padding: 2rem;

    & h2 {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-sans);
      margin-bottom: 1.5rem;
    }

    & p,
    a,
    ul {
      font-size: var(--font-size-sm);
      font-family: var(--font-serif);
      line-height: 1.8rem;
    }

    & p:first-of-type {
      margin-bottom: 1rem;
    }

    & ul {
      margin-top: 1rem;
    }

    & li {
      display: inline;

      & + li:before {
        content: '  |  ';
      }
    }

    & a {
      color: var(--color-secondary);
      font-style: italic;
      text-decoration: underline;
    }
  }
}

@media (min-width: 80em) {
  .section-container {
    flex-direction: row;
    height: 600px;

    & .background {
      width: auto;
    }

    & .section-text {
      padding: 6rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      & h2 {
        font-size: var(--font-size-xl);
      }

      & p,
      a,
      ul {
        font-size: var(--font-size-m);
        line-height: 2rem;
      }

      & p:first-of-type {
        margin-bottom: 3rem;
      }
    }
  }
  .inverted {
    flex-direction: row-reverse;
  }
}

.image1 {
  background: url(../../images/iguide.jpeg);
}

.image2 {
  background: url(../../images/matterport.png);
}

.image3 {
  background: url(../../images/EPC.jpg);
}

.light-section {
  background-color: var(--color-light);
  & h2 {
    color: var(--color-secondary);
  }

  & li + li:before {
    color: var(--color-dark);
  }

  & p {
    color: var(--color-dark);
  }
}

.dark-section {
  background-color: var(--color-dark);
  & h2 {
    color: var(--color-secondary);
  }

  & li + li:before {
    color: var(--color-light);
  }

  & p {
    color: var(--color-light);
  }
}

.secondary-section {
  background-color: var(--color-secondary);
  & h2 {
    color: var(--color-dark);
  }
  & p {
    color: var(--color-light);
  }
}
